{% extends 'base.html' %}

{% block title %} Lista de Tarefas {% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Lista de Tarefas</h1>
        <a href="newtask/" id="add-link">
            <div class="col-2 add-div">
                <i class="fi-swluxl-plus-solid"></i>Adicionar
            </div>
        </a>
        <div class="col-8 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa...">
            <i class="fi-xnsuxl-search"></i>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-item">
                <span><a href="/task/{{task.id}}">{{ task.title }}</a></span>
                <a href="delete/{{task.id}}"> <span> <i class="fi-xnsuxl-trash-bin"></i> </span> </a>
               <a href="edit/{{task.id}}"> <span> <i class="fi-xnsuxl-edit-solid"></i> </span> </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}